validation is making sure you build the right thing

verification is making sure you build the thing right

